.cook{
    margin-bottom: 100px;

    .cook__title{
        padding-top: 100px;
        font-size: 54px;
        font-family: $f2;
        color: black;
        text-align: center;
        margin-bottom: 80px;

        >span{
            color: #D67E34;
        }
    }

    .splide__track{
        margin-bottom: 30px;
        margin-left: 60px;
    }
    
    .splide__pagination{
        position: relative;
        margin: 0 auto;
    
        .splide__pagination__page{
            background: rgb(58, 58, 58);
        }
    
        .splide__pagination__page.is-active{
            background: #FF7400;
        }
    }
}